<div class="left-sidebar">
    <!-- 用户信息 -->
    {#<div class="tpl-sidebar-user-panel">#}
        {#<div class="tpl-user-panel-slide-toggleable">#}
            {#<div class="tpl-user-panel-profile-picture">#}
                {#<img src="{{asset('SwAsset/Lib/AmazeUI')}}/img/user04.png" alt="">#}
            {#</div>#}
            {#<span class="user-panel-logged-in-text">#}
              {#<i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>#}
              {#爱惠农#}
          {#</span>#}
            {#<a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>#}
        {#</div>#}
    {#</div>#}

    <!-- 菜单 -->
    <ul class="sidebar-nav">
        <li class="sidebar-nav-heading"><span class="am-icon-shopping-bag am-icon-sm"> </span> &nbsp;&nbsp;商城管理</li>

        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title hn-goods-type">
                <i class="am-icon-tag sidebar-nav-link-logo"></i> 类型管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub hn-goods-type-nav">
                <li class="sidebar-nav-link">
                    <a href="{{ path('backend_goods_type_new') }}" class="hn-goods-type-new">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增类型
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="{{ path('backend_goods_type_index') }}" class="hn-goods-type-index">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 类型列表
                    </a>
                </li>
            </ul>
        </li>


        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title hn-goods-category">
                <i class="am-icon-list sidebar-nav-link-logo"></i> 分类管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub hn-goods-category-nav">
                <li class="sidebar-nav-link">
                    <a href="{{ path('backend_goods_category_new') }}" class="hn-goods-category-new">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增分类
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="{{ path('backend_goods_category_index') }}" class="hn-goods-category-index">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 分类列表
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title hn-goods-brand">
                <i class="am-icon-cc sidebar-nav-link-logo"></i> 品牌管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub hn-goods-brand-nav">
                <li class="sidebar-nav-link">
                    <a href="table-list.html" class="hn-goods-brand-new">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增品牌
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="table-list-img.html" class="hn-goods-brand-index">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 品牌列表
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title hn-goods-detail">
                <i class="am-icon-archive sidebar-nav-link-logo"></i> 商品管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub hn-goods-detail-nav">
                <li class="sidebar-nav-link">
                    <a href="table-list.html" class="hn-goods-detail-new">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增商品
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="table-list-img.html" class="hn-goods-detail-index">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 商品列表
                    </a>
                </li>
            </ul>
        </li>



        <li class="sidebar-nav-heading"><span class="am-icon-users am-icon-sm"> </span> &nbsp;&nbsp;用户管理</li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-user-md sidebar-nav-link-logo"></i> 用户列表
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a href="table-list.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增用户
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="table-list-img.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户列表
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-user-secret sidebar-nav-link-logo"></i> 权限管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a href="table-list.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增权限
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="table-list-img.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户权限列表
                    </a>
                </li>
            </ul>
        </li>


        <li class="sidebar-nav-heading"><span class="am-icon-cogs am-icon-sm"> </span> &nbsp;&nbsp;站点设置</li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-adn sidebar-nav-link-logo"></i> 广告管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a href="table-list.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 轮播图
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="table-list-img.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 热销商品
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-link sidebar-nav-link-logo"></i> 友情链接
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a href="table-list.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增权限
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="table-list-img.html">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户权限列表
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</div>