{% extends '@HnSw/Backend/layout.html.twig' %}

{% block content %}
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">新增分类</div>

                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-line-form" method="post" action="{{ path('backend_goods_category_new_son_cate',{'pid':pid}) }}">
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">分类名称</label>
                                    <div class="am-u-sm-9">
                                        {#<input type="text" class="tpl-form-input" id="user-name" placeholder="请输入分类名称">#}
                                        {{ form_widget(form.title,{"attr":{'class':'tpl-form-input',"placeholder":"请输入分类名称"}}) }}
                                        <small></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">选择类型</label>
                                    <div class="am-u-sm-9">
                                        {#<input type="text" class="tpl-form-input" id="user-name" placeholder="请输入分类名称">#}
                                        {{ form_widget(form.goodsType,{"attr":{'style':'color:#0e90d2;'}}) }}
                                        <small></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">排序</label>
                                    <div class="am-u-sm-9">
                                        {#<input type="text" class="tpl-form-input" id="user-name" placeholder="请输入排序数字" value="100">#}
                                        {{ form_widget(form.sort,{"attr":{'class':'tpl-form-input',"placeholder":"请输入排序数字","value":"100"}}) }}
                                        <small></small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    </div>
                                </div>
                                {{ form_widget(form._token) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('.hn-goods-category').addClass('active');
        $('.hn-goods-category-new').addClass('sub-active');
        $('.hn-goods-category-nav').css('display','block');
    </script>
{% endblock %}