{% if pageCount > 1 %}

<div class="am-u-lg-12 am-cf">
    <div class="am-fr">
        <ul class="am-pagination tpl-pagination">

            {% if first is defined and current != first %}
                <li>
                    <a  href="{{ path(route, query|merge({(pageParameterName): first})) }}">首页</a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">«</a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                {% else %}
                    <li class="am-active"><a href="#">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): next})) }}">»</a></li>
            {% endif %}


            {% if last is defined and current != last %}
                <li>
                    <a  href="{{ path(route, query|merge({(pageParameterName): last})) }}">尾页</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endif %}